<?xml version="1.0" encoding="UTF-8"?>
<!-- logback配置示例 -->
<configuration scan="true">
    <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{12} - %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- 系统日志：记录应用行为和错误 -->
    <appender name="system-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log}/system.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{12} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 同一天超过文件大小限制，文件被分隔成多个，用序号i区分 -->
            <fileNamePattern>${app.log}/system.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 同一天内可能由于访问量较大，导致日志较多，控制文件大小 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 保留多少天的日志归档 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- 普华日志：记录普华接口调用 -->
    <appender name="cntrust-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log}/cntrust.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{12} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 同一天超过文件大小限制，文件被分隔成多个，用序号i区分 -->
            <fileNamePattern>${app.log}/cntrust.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 同一天内可能由于访问量较大，导致日志较多，控制文件大小 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 保留多少天的日志归档 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- 百度日志：记录人脸识别等错误 -->
    <appender name="baidu-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter> -->
        <file>${app.log}/baidu_errors.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{12} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 同一天超过文件大小限制，文件被分隔成多个，用序号i区分 -->
            <fileNamePattern>${app.log}/baidu_errors.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 同一天内可能由于访问量较大，导致日志较多，控制文件大小 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 保留多少天的日志归档 -->
            <maxHistory>21</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- SQL日志：记录Druid的SQL信息 -->
    <appender name="sql-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log}/sql.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{12} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 同一天超过文件大小限制，文件被分隔成多个，用序号i区分 -->
            <fileNamePattern>${app.log}/sql.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 同一天内可能由于访问量较大，导致日志较多，控制文件大小 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 保留多少天的日志归档 -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>
    
    <!-- 以下日志仅在控制台显示 -->
    <root level="INFO">
        <appender-ref ref="console-appender" />
    </root>
    <logger name="org.springframework" level="WARN" />
    <logger name="org.eclipse.persistence" level="ERROR" />
    
    <!-- 以下日志写入文件 -->
    <logger name="druid.sql.Statement" level="DEBUG">
        <appender-ref ref="sql-appender"/>
    </logger>
    <logger name="sparksoft" level="WARN">
        <appender-ref ref="system-appender"/>
    </logger>
    <logger name="ren.hankai.cordwood" level="WARN">
        <appender-ref ref="system-appender"/>
    </logger>
    <logger name="com.baidu" level="WARN">
        <appender-ref ref="baidu-appender"/>
    </logger>
    <logger name="info.cntrust" level="WARN">
        <appender-ref ref="cntrust-appender"/>
    </logger>
</configuration>