<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Cordwood Admin | 插件管理</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_param" th:content="${_csrf.parameterName}"/>
<link rel="stylesheet" type="text/css" href="../../static/js/bootstrap-switch/bootstrap-switch.min.css"
    th:href="@{~/js/bootstrap-switch/bootstrap-switch.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/default.css" id="skin-switcher"
    th:href="@{~/css/themes/default.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css"
    th:href="@{~/css/responsive.css}" />
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/js/dropzone/dropzone.min.css"
    th:href="@{~/js/dropzone/dropzone.min.css}" />    
<link rel="stylesheet" type="text/css" href="../../static/cordwood/css/cordwood.css"
    th:href="@{~/cordwood/css/cordwood.css}" />
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
        <!-- /TEAM STATUS -->
    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <!-- /SIDEBAR -->
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <div class="page-header" style="overflow: visible;">
                            <ul class="breadcrumb">
                                <li>插件管理</li>
                            </ul>
                            <div class="clearfix" style="margin-top: 20px;">
                                <h3 class="content-title pull-left">插件管理</h3>
                                <!-- <div class="btn-group pull-right">
                                    <button class="btn btn-default">
                                        <i class="fa fa-anchor"></i> 已安装的
                                    </button>
                                    <button class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu context pull-right"
                                        style="text-align: left;">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cloud-download"></i> 插件商店
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                                <a href="#uploadPlugin" data-toggle="modal" class="config">
                                    <button class="btn btn-link pull-right mr-2">
                                        <i class="fa fa-cloud-upload"></i>上传插件
                                    </button>
                                </a>
                            </div>
                            <div class="description">安装、更新、卸载或启用和禁用插件</div>
                        </div>
                        <div class="row" th:each="pluginPackage : ${packages}">
                            <div class="col-md-12">
                                <div class="box border primary">
                                    <div class="box-title">
                                        <h4 th:text="${pluginPackage.id}"></h4>
                                        <div class="pull-right">
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p>
                                            <i class="fa fa-plug"></i>
                                            <span th:text="${pluginPackage.fileName}">插件包文件名</span>
                                        </p>
                                        <h6>
                                            <i class="fa fa-clock-o"></i> 
                                            <span th:text="${#calendars.format(pluginPackage.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                                2016-11-08 14:32:20
                                            </span>
                                        </h6>
                                        <hr/>
                                        <div class="panel-group">
                                            <div class="panel panel-default" th:each="plugin : ${pluginPackage.plugins}">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        <span th:id="${'pluginSwitch' + plugin.name}" class="make-switch switch-mini pull-right"
                                                            data-on="success" data-off="warning" data-on-label="启用" data-off-label="禁用">
                                                            <input type="checkbox" th:checked="${plugin.active}" th:value="${plugin.name}" />
                                                        </span>
                                                        <a class="accordion-toggle"
                                                            data-toggle="collapse"
                                                            href="#collapseOne"
                                                            th:href="${'#' + plugin.name}"
                                                            th:text="${plugin.displayName}"></a>
                                                    </h3>
                                                </div>
                                                <div id="collapseOne"
                                                    class="panel-collapse collapse"
                                                    th:id="${plugin.name}">
                                                    <div class="panel-body">
                                                        <p th:text="${plugin.description}">插件简介</p>
                                                        <ul class="list-unstyled">
                                                            <li><strong>标识：</strong><span th:text="${plugin.name}">XXX</span></li>
                                                            <li><strong>版本：</strong><span th:text="${plugin.version}">XXX</span></li>
                                                            <li><strong>开发者：</strong><span th:text="${plugin.developer}">XXX</span></li>
                                                        </ul>
                                                        <hr/>
                                                        <div class="well" th:each="feature : ${plugin.features}">
                                                            <h5><strong th:text="${feature.description}">功能简介</strong></h5>
                                                            <ul class="list-unstyled">
                                                                <li class="text-primary" th:text="${#httpServletRequest.scheme+'://'+
                                                                                        #httpServletRequest.serverName+':'+
                                                                                        #httpServletRequest.serverPort+
                                                                                        plugin.getFeatureUrl(feature.name)}">
                                                                    http://...
                                                                </li>
                                                                <li th:text="${'响应：' + feature.resultType}">响应：text/html</li>
                                                                <li>入参防篡改：
                                                                    <i class="fa fa-check-circle text-success" 
                                                                       th:if="${feature.checkInboundParameters}"></i>
                                                                   <i class="fa fa-times-circle text-warning" 
                                                                       th:if="${!feature.checkInboundParameters}"></i>
                                                                <li>访问需授权：
                                                                    <i class="fa fa-check-circle text-success" 
                                                                       th:if="${feature.checkAccessToken}"></i>
                                                                   <i class="fa fa-times-circle text-warning" 
                                                                       th:if="${!feature.checkAccessToken}"></i>
                                                                </li>
                                                                <li>入参：</li>
                                                                <li>
                                                                    <ul class="list-unstyled" style="text-indent: 20px;">
                                                                        <li th:each="inputParam : ${feature.parameters}">
                                                                            <span style="font-weight: bold;" th:text="${inputParam.name}">参数名</span>: 
                                                                            <span th:text="${inputParam.type.name}">参数类型</span> | 
                                                                            <span th:text="${inputParam.required ? '必传' : '可选'}">是否必传</span> | 
                                                                            <span th:text="${inputParam.description}">参数简介</span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="uploadPlugin" tabindex="-1" role="dialog"
        aria-labelledby="uploadPlugin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">上传新插件（最多同时上传5个插件包）</h4>
                </div>
                <div class="modal-body">
                    <div class="dropzone" id="dropzone">
                        <div class="fallback">
                            <input name="files" type="file" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submitBtn">上传</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../static/js/jquery/jquery-2.0.3.min.js"
        th:src="@{~/js/jquery/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript"
        src="../../static/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
        th:src="@{~/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"
        th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
        src="../../static/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"
        th:src="@{~/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript"
        src="../../static/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"
        th:src="@{~/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jQuery-BlockUI/jquery.blockUI.min.js"
        th:src="@{~/js/jQuery-BlockUI/jquery.blockUI.min.js}"></script>
    <script type="text/javascript" src="../../static/js/bootstrap-switch/bootstrap-switch.min.js"
        th:src="@{~/js/bootstrap-switch/bootstrap-switch.min.js}"></script>
    <script type="text/javascript" src="../../static/js/dropzone/dropzone.min.js"
        th:src="@{~/js/dropzone/dropzone.min.js}"></script>    
    <script type="text/javascript" src="../../static/js/jQuery-Cookie/jquery.cookie.min.js"
        th:src="@{~/js/jQuery-Cookie/jquery.cookie.min.js}"></script>
    <script type="text/javascript" src="../../static/cordwood/js/common-init.js"
        th:src="@{~/cordwood/js/common-init.js}"></script>
    <script type="text/javascript" src="/admin/sidebar.js"></script>
    <script>
          jQuery(document).ready(function() {
            loadSidebarItems('plugins');
          });
          $('.make-switch').on('switch-change', function(e, data) {
            var sender = $(data.el);
            var pname = sender.val();
            var enabled = data.value;
            var url = '/admin/plugins/' + pname + '/' + (enabled ? 'on' : 'off');
            var senderId = '#pluginSwitch' + pname;
            $(senderId).bootstrapSwitch('setActive', false);
            $.get(url, function(data, textStatus, jqXHR) {
              if (jqXHR.status == 200) {
                $(senderId).bootstrapSwitch('setActive', true);
              }
            });
          });
          Dropzone.autoDiscover = false;
          $('#dropzone').dropzone({
            url: '/admin/plugins/upload',
            paramName: 'files',
            acceptedFiles: '.jar,.JAR',
            maxFiles: 5,
            autoProcessQueue: false,
            uploadMultiple: true,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            dictInvalidFileType: '文件格式不正确，请上传 .jar 格式的插件包文件！',
            dictRemoveFile: '删除',
            dictResponseError: '上传出现错误！',
            dictFileTooBig: '文件太大！',
            dictFallbackMessage: '您的浏览器不支持拖拽上传！',
            dictDefaultMessage: '拖拽文件来上传',
            dictMaxFilesExceeded: '文件个数超出限制！',
            init: function() {
              myDropzone = this;
              $('#submitBtn').click(function(event) {
                myDropzone.processQueue();
              });
              this.on("sending", function(file, jqXHR, data) {
                var param = $("meta[name='_csrf_param']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");
                data.append(param, token);
              });
              this.on("success", function(file) {
                $("#uploadPlugin").modal('hide');
                alert('插件上传成功!');
                location.reload();
              });
            }
          });
        </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>