<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.dashboard}">仪表盘</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link id="skin-switcher" rel="stylesheet" type="text/css"
    href="../../static/styles/themes/default.css"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-md-12">
                        <div class="page-header" style="overflow: visible;">
                            <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                <li>仪表盘</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box border primary">
                                    <div class="box-title">
                                        <h4><i class="fa fa-signal"></i>插件访问量趋势</h4>
                                        <div class="tools">
                                            <a href="javascript:;" class="reload" id="reloadRequestChart">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                            <a href="javascript:;" class="collapse">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="request-charts" class="chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/dashboard" th:data-main="@{~/scripts/dashboard}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>