<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>边栏菜单</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/animatecss/animate.min.css"
    th:href="@{~/styles/animatecss/animate.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link id="skin-switcher" rel="stylesheet" type="text/css" 
    href="../../static/styles/themes/default.css"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:fragment="header">
            <div class="navbar-brand">
                <a href="javascript:;">
                    <img src="../../static/images/logo/logo.png" th:src="@{~/images/logo/logo.png}" 
                        class="img-responsive" height="30" width="120">
                </a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user pull-right" id="header-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height:50px;">
                        <span class="username" th:text="${#authentication.getPrincipal().getName()}">用户名</span> 
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" th:href="@{~/admin/my_account}">
                                <i class="fa fa-user"></i> 账号信息
                            </a>
                        </li>
                        <li>
                            <a href="javascript:$('#logoutForm').submit();">
                                <i class="fa fa-power-off"></i> 注销
                            </a>
                            <form id="logoutForm" th:action="@{~/admin/logout}" method="post">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:fragment="sidebar">
                <div class="divide-10"></div>
                <!-- <div id="search-bar">
                    <input class="search" type="text" placeholder="Search"><i
                        class="fa fa-search search-icon"
                    ></i>
                </div> -->
                <ul id="sidebar-items">
                    <li class="active" th:if="${false}">
                        <a href="#">
                            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">功能1</span>
                        </a>
                    </li>
                    <li class="" th:if="${false}">
                        <a href="#">
                            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">功能2</span>
                        </a>
                    </li>
                    <li class="" th:if="${false}">
                        <a href="#">
                            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">功能2</span>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-footer" style="display:none;">
                    <div class="copyright pull-left" style="padding: 12px 0px 0px 8px;">
                        <i class="fa fa-copyright small"></i> 
                        <span class="small truncate-tail short" 
                            th:text="#{site.copyright}">版权信息</span>
                    </div>
                    <div class="sidebar-indicator pull-right">
                        <i class="fa fa-angle-double-left pull-right" 
                            data-icon1="fa fa-angle-double-left" 
                            data-icon2="fa fa-angle-double-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" data-main="../../static/scripts/header" src="../../static/scripts/require.js"></script>
</body>
</html>