<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>操作失败</title>
<base href="../../static/" th:href="@{~/}" />
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/default.css" id="skin-switcher"
    th:href="@{~/css/themes/default.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css"
    th:href="@{~/css/responsive.css}" />
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
</head>
<body>
  <div class="row">
    <div class="col-md-12" style="padding: 10px 0 0 40px;">
      <h4 class="text-left"><i class="fa fa-exclamation-triangle" style="color: #f0ad4e;"></i> 
        <span th:text="${error}"></span><span id="seconds"></span>秒后将 <a>返回</a> 前一页面。
      </h4>
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/jquery/jquery-2.0.3.min.js"
    th:src="@{~/js/jquery/jquery-2.0.3.min.js}"></script>
  <script type="text/javascript">
  var seconds = 5;
  $('#seconds').text(seconds);
  var timer = setInterval('countdown()', 1000);
  function countdown() {
    if (seconds == 1) {
      window.history.back();
      clearInterval(timer);
    } else {
      seconds --;
      $('#seconds').text(seconds);
    }
  }
  </script>
</body>
</html>