<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.reset.user.pwd}">重置用户密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/chosen/chosen.css"
    th:href="@{~/styles/chosen/chosen.css}"/>
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/uniform/css/uniform.default.min.css"
    th:href="@{~/styles/uniform/css/uniform.default.min.css}"/>
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link id="skin-switcher" rel="stylesheet" type="text/css"
    href="../../static/styles/themes/default.css"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="box border primary">
                            <div class="box-title">
                                <h4>重置用户密码</h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form class="form-horizontal" method="post"
                                          th:action="@{~/admin/users/{uid}/change_pwd(uid=${user.id})}" th:object="${user}">
                                            <div class="container">
                                                <div class="col-md-8">
                                                    <div class="alert alert-danger" th:if="${pageError}">
                                                        <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                                        <span th:text="${pageError}">错误提示</span>
                                                    </div>
                                                    <div class="alert alert-success" th:if="${pageMessage}">
                                                        <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                                        <span th:text="${pageMessage}">消息提示</span>
                                                    </div>
                                                    <div class="form-group" 
                                                         th:classappend="${#fields.hasErrors('email') ? 'has-error' : ''}">
                                                        <label class="col-md-3 control-label">邮箱</label>
                                                        <div class="col-md-9">
                                                            <input value="邮箱" th:value="${user.email}" readonly="readonly" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div id="pwd-group" class="form-group"
                                                         th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">
                                                        <label class="col-md-3 control-label">新密码</label>
                                                        <div class="col-md-9">
                                                            <input id="password" name="password" type="password" class="form-control" />
                                                            <span class="error-span" th:errors="*{password}">错误</span>
                                                        </div>
                                                    </div>
                                                    <div id="pwd-group2" class="form-group">
                                                        <label class="col-md-3 control-label">再次输入密码</label>
                                                        <div class="col-md-9">
                                                            <input id="pwd2" value="" type="password" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions clearfix">
                                                <input type="submit" value="提交" class="btn btn-primary pull-left">
                                            </div>
                                        </form>  
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/reset_user_pwd" th:data-main="@{~/scripts/reset_user_pwd}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>