<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.users}">用户管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap-table/bootstrap-table.css"
    th:href="@{~/styles/bootstrap-table/bootstrap-table.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link id="skin-switcher" rel="stylesheet" type="text/css" 
    href="../../static/styles/themes/default.css"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-md-12">
                        <div class="page-header" style="overflow: visible;">
                            <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                <li>用户管理</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="toolbar">
                                            <a href="#" th:href="@{~/admin/users/add}">
                                                <button id="remove" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i> 添加
                                                </button>
                                            </a>
                                        </div>
                                        <table id="dataTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/users" th:data-main="@{~/scripts/users}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>