<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.login}">登录</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- STYLESHEETS -->
<!--[if lt IE 9]>
    <script src="js/flot/excanvas.min.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}" />
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/js/uniform/css/uniform.default.min.css"
    th:href="@{~/js/uniform/css/uniform.default.min.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/animatecss/animate.min.css"
    th:href="@{~/css/animatecss/animate.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/cordwood/css/cordwood.css"
    th:href="@{~/cordwood/css/cordwood.css}" />
</head>
<body class="login">
    <!-- PAGE -->
    <section id="page">
        <!-- HEADER -->
        <header>
            <!-- NAV-BAR -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo">
                            <a href="index.html">
                                <img th:src="@{~/images/logo/logo-alt.png}" src="../../static/images/logo/logo-alt.png" 
                                    height="40" alt="logo name" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/NAV-BAR -->
        </header>
        <!--/HEADER -->
        <!-- LOGIN -->
        <section id="login" class="visible">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box-plain">
                            <div class="divide-40"></div>
                            <div class="alert alert-danger" th:if="${param.error}">
                                <i class="fa fa-exclamation-circle"></i> <span th:text="#{admin.login.invalid.user}">账号或密码不正确！</span>
                            </div>
                            <div class="alert alert-success" th:if="${param.logout}">
                                <span th:text="#{admin.logout.success}">您已注销，任何自动化登录都已停止。</span>
                            </div>
                            <form role="form" th:action="@{~/admin/login}" method="post">
                                <div class="form-group" th:classappend="${param.error} ? 'has-error' : ''">
                                    <label class="control-label" for="email">邮箱</label>
                                    <i class="fa fa-envelope"></i>
                                    <input id="email" name="username" type="email" class="form-control" th:value="${session.LAST_USERNAME}" />
                                </div>
                                <div class="form-group" th:classappend="${param.error}  ? 'has-error' : ''">
                                    <label class="control-label" for="password">密码</label>
                                    <i class="fa fa-lock"></i>
                                    <input id="password" name="password" type="password" class="form-control" />
                                </div>
                                <div class="form-actions">
                                    <label class="checkbox">
                                        <input name="remember-me" type="checkbox" class="uniform" > 记住我
                                    </label>
                                    <button type="submit" class="btn btn-danger">登录</button>
                                </div>
                            </form>
                            
                            <div class="login-helpers">
                                <a href="#" onclick="swapScreen('forgot');return false;">忘记了密码？</a>
                                <br/> 还没有账号？现在就去<a href="#" onclick="swapScreen('register');return false;">注册</a>新账号！
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/LOGIN -->
        <!-- REGISTER -->
        <section id="register">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box-plain">
                            <h2 class="bigintro">注册</h2>
                            <form role="form">
                                <div class="form-group">
                                    <label for="exampleInputName">姓名</label> <i
                                        class="fa fa-font"></i>
                                    <input type="text" class="form-control" id="exampleInputName">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-mail 地址</label> <i
                                        class="fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="exampleInputEmail1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码</label> <i
                                        class="fa fa-lock"></i>
                                    <input type="password" class="form-control"
                                        id="exampleInputPassword1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">再次输入密码</label> <i
                                        class="fa fa-check-square-o"></i>
                                    <input type="password" class="form-control"
                                        id="exampleInputPassword2">
                                </div>
                                <div class="form-actions">
                                    <!-- <label class="checkbox"> <input type="checkbox"
                                            class="uniform" value=""> 我同意 
                                            <a href="#">服务条款</a> 和 <a href="#">隐私政策</a>
                                    </label> -->
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </form>
                            <div class="login-helpers">
                                <a href="#" onclick="swapScreen('login');return false;"> 返回登录页面</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/REGISTER -->
        <!-- FORGOT PASSWORD -->
        <section id="forgot">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box-plain">
                            <h2 class="bigintro">重置密码</h2>
                            <div class="divide-40"></div>
                            <form role="form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入您的 E-mail 地址</label>
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="exampleInputEmail1">
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-info">向我发送用于重置密码的邮件</button>
                                </div>
                            </form>
                            <div class="login-helpers">
                                <a href="#" onclick="swapScreen('login');return false;">返回登录页面</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FORGOT PASSWORD -->
    </section>
    <!--/PAGE -->
    <script type="text/javascript" src="../../static/js/jquery/jquery-2.0.3.min.js"
        th:src="@{~/js/jquery/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jQuery-Cookie/jquery.cookie.min.js"
        th:src="@{~/js/jQuery-Cookie/jquery.cookie.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
        th:src="@{~/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"
        th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/js/uniform/jquery.uniform.min.js"
        th:src="@{~/js/uniform/jquery.uniform.min.js}"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="../../static/js/script.js"
        th:src="@{~/js/script.js}"></script>
    <script>
      jQuery(document).ready(function() {
        App.setPage("login");
        App.init();
      });
    </script>
    <script type="text/javascript">
      function swapScreen(id) {
        jQuery('.visible').removeClass('visible animated fadeInUp');
        jQuery('#' + id).addClass('visible animated fadeInUp');
      }
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>