<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.plugin.details}">插件包详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_param" th:content="${_csrf.parameterName}"/>
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap-switch/bootstrap-switch.min.css"
    th:href="@{~/styles/bootstrap-switch/bootstrap-switch.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link id="skin-switcher" rel="stylesheet" type="text/css" 
    href="../../static/styles/themes/default.css"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-md-12">
                        <div class="page-header" style="overflow: visible;">
                            <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                <li>插件详情</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box border primary">
                                    <div class="box-title">
                                        <h4 th:text="${pluginPackage.id}">插件包标识</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <p>
                                                    <i class="fa fa-plug"></i> <span
                                                        th:text="${pluginPackage.fileName}">插件包文件名</span>
                                                </p>
                                                <p th:text="${pluginPackage.description}" style="padding-bottom:10px;">介绍信息</p>
                                                <h6>
                                                    <i class="fa fa-clock-o"></i> <span
                                                        th:text="${#calendars.format(pluginPackage.createTime,'yyyy-MM-dd HH:mm:ss')}"> 
                                                        2016-11-08 14:32:20 </span>
                                                </h6>
                                                <h6>
                                                    <i class="fa fa-user-o"></i> <span
                                                        th:text="${pluginPackage.developer}"> 
                                                        开发者信息 </span>
                                                </h6>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="panel-group">
                                            <div class="panel panel-default" th:each="plugin : ${pluginPackage.plugins}">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        <span th:id="${'pluginSwitch' + plugin.name}" class="make-switch switch-mini pull-right"
                                                            data-on="success" data-off="warning" data-on-label="启用" data-off-label="禁用">
                                                            <input type="checkbox" th:checked="${plugin.active}" th:value="${plugin.name}" />
                                                        </span>
                                                        <a class="accordion-toggle"
                                                            data-toggle="collapse"
                                                            href="#collapseOne"
                                                            th:href="${'#' + plugin.name}"
                                                            th:text="${plugin.displayName}">插件显示名</a>
                                                    </h3>
                                                </div>
                                                <div id="collapseOne"
                                                    class="panel-collapse collapse in"
                                                    th:id="${plugin.name}">
                                                    <div class="panel-body">
                                                        <p th:text="${plugin.description}">插件简介</p>
                                                        <ul class="list-unstyled">
                                                            <li><strong>标识：</strong><span th:text="${plugin.name}">XXX</span></li>
                                                            <li><strong>版本：</strong><span th:text="${plugin.version}">XXX</span></li>
                                                            <li><strong>开发者：</strong><span th:text="${plugin.developer}">XXX</span></li>
                                                        </ul>
                                                        <hr/>
                                                        <div class="alert alert-block alert-warning" 
                                                            th:if="${#lists.isEmpty(plugin.features)}">
                                                            <p><i class="fa fa-exclamation-circle"></i> 插件加载失败，请检查插件是否安装成功。若错误仍持续，请联系管理员！</p>
                                                        </div>
                                                        <div class="well" th:each="feature : ${plugin.features}">
                                                            <h5><strong th:text="${feature.description}">功能简介</strong></h5>
                                                            <ul class="list-unstyled">
                                                                <li class="text-primary" th:text="${#httpServletRequest.scheme+'://'+
                                                                                        #httpServletRequest.serverName+':'+
                                                                                        #httpServletRequest.serverPort+
                                                                                        plugin.getFeatureUrl(feature.name)}">
                                                                    http://...
                                                                </li>
                                                                <li th:text="${'响应：' + feature.resultType}">响应：text/html</li>
                                                                <li>入参防篡改：
                                                                    <i class="fa fa-check-circle text-success" 
                                                                       th:if="${feature.checkInboundParameters}"></i>
                                                                   <i class="fa fa-times-circle text-warning" 
                                                                       th:if="${!feature.checkInboundParameters}"></i>
                                                                <li>访问需授权：
                                                                    <i class="fa fa-check-circle text-success" 
                                                                       th:if="${feature.checkAccessToken}"></i>
                                                                   <i class="fa fa-times-circle text-warning" 
                                                                       th:if="${!feature.checkAccessToken}"></i>
                                                                </li>
                                                                <li>已启用缓存：
                                                                    <i class="fa fa-check-circle text-success" 
                                                                       th:if="${feature.cacheable}"></i>
                                                                   <i class="fa fa-times-circle text-warning" 
                                                                       th:if="${!feature.cacheable}"></i>
                                                                </li>
                                                                <li>入参：</li>
                                                                <li>
                                                                    <ul class="list-unstyled" style="text-indent: 20px;">
                                                                        <li th:each="inputParam : ${feature.parameters}">
                                                                            <span style="font-weight: bold;" th:text="${inputParam.name}">参数名</span>: 
                                                                            <span th:text="${inputParam.type.name}">参数类型</span> | 
                                                                            <span th:text="${inputParam.required ? '必传' : '可选'}">是否必传</span> | 
                                                                            <span th:text="${inputParam.description}">参数简介</span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/plugin_package_details" th:data-main="@{~/scripts/plugin_package_details}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>