<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.plugins.logs}">插件日志</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/default.css" id="skin-switcher"
    th:href="@{~/css/themes/default.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css"
    th:href="@{~/css/responsive.css}" />
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap-table/bootstrap-table.css"
    th:href="@{~/bootstrap-table/bootstrap-table.css}" />
<link rel="stylesheet" type="text/css" href="../../static/cordwood/css/cordwood.css"
    th:href="@{~/cordwood/css/cordwood.css}" />
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
        <!-- /TEAM STATUS -->
    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <!-- /SIDEBAR -->
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-md-12">
                        <div class="page-header" style="overflow: visible;">
                            <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                <li>插件日志</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="toolbar">
                                        </div>
                                        <table id="dataTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/plugin_logs" th:data-main="@{~/scripts/plugin_logs}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>