<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="#{site.title.my.account}">账号信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap/css/bootstrap.min.css"
    th:href="@{~/styles/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/bootstrap-table/bootstrap-table.css"
    th:href="@{~/styles/bootstrap-table/bootstrap-table.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/font-awesome/css/font-awesome.min.css"
    th:href="@{~/styles/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cloud-admin.css"
    th:href="@{~/styles/cloud-admin.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/themes/default.css" id="skin-switcher"
    th:href="@{~/styles/themes/default.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/responsive.css"
    th:href="@{~/styles/responsive.css}" />
<link rel="stylesheet" type="text/css" 
    href="../../static/styles/cordwood.css"
    th:href="@{~/styles/cordwood.css}" />
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container" th:replace="admin_header.html :: header"></div>
    </header>
    <section id="page">
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse" th:replace="admin_sidebar.html :: sidebar"></div>
        </div>
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <ul class="breadcrumb" th:replace="admin_navbar.html :: navbar">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box border primary">
                                    <div class="box-title">
                                        <h4><i class="fa fa-key"></i> 账号信息</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="list-group">
                                                    <div>
                                                        <img class="img-responsive" src="../../static/images/default_avatar.jpg" 
                                                            th:src="@{~/admin/my_avatar}"/>
                                                    </div>
                                                    <div class="list-group-item profile-details">
                                                        <h2 class="truncate-tail middle" 
                                                            th:text="${user.name}">
                                                            用户姓名</h2>
                                                        <p>
                                                            <i class="fa fa-circle text-green"></i> 在线
                                                        </p>
                                                        <p th:text="${user.aboutMe}">个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍</p>
                                                        <p>
                                                            <i class="fa fa-envelope fa-fw"></i> 
                                                            <a href="#" th:text="${user.email}">exam@sparksoft.com.cn</a>
                                                        </p>
                                                    </div>
                                                    <a href="#" class="list-group-item" th:href="@{~/admin/my_profile}">
                                                        <i class="fa fa-edit fa-fw"></i>
                                                        个人资料
                                                    </a>
                                                    <a href="#" th:href="@{~/admin/my_plugin_packages}" class="list-group-item">
                                                        <i class="fa fa-plug fa-fw"></i>
                                                        我的插件
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <span class="badge badge-red">9</span>
                                                        <i class="fa fa-history fa-fw"></i>
                                                        操作日志
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="dashbox panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="panel-left red">
                                                                        <i class="fa fa-fire fa-3x"></i>
                                                                    </div>
                                                                    <div class="panel-right">
                                                                        <div class="number" th:text="${statistics.accessCountDesc}">3932</div>
                                                                        <div class="title">插件访问次数</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div
                                                                class="dashbox panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="panel-left blue">
                                                                        <i class="fa fa-bolt fa-3x"></i>
                                                                    </div>
                                                                    <div class="panel-right">
                                                                        <div class="number">
                                                                            <span th:text="${statistics.timeUsageAvgDesc}">
                                                                            23 ms</span>
                                                                        </div>
                                                                        <div class="title">插件响应时间</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div
                                                                class="quick-pie panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="col-md-4 text-center">
                                                                        <div id="pie_1" class="piechart" data-percent="9.8"
                                                                            data-barcolor="#F0AD4E"
                                                                            th:data-percent="${statistics.faultRate}">
                                                                            <span class="percent"></span>
                                                                        </div>
                                                                        <div>插件故障率</div>
                                                                    </div>
                                                                    <div class="col-md-4 text-center">
                                                                        <div id="pie_2" class="piechart" data-percent="73"
                                                                            data-barcolor="#D9534F"
                                                                            th:data-percent="${statistics.usageRage}">
                                                                            <span class="percent"></span>
                                                                        </div>
                                                                        <div>插件使用率</div>
                                                                    </div>
                                                                    <div class="col-md-4 text-center">
                                                                        <div id="pie_3" class="piechart" data-percent="44"
                                                                            data-barcolor="#70AFC4"
                                                                            th:data-percent="${statistics.dataShare}">
                                                                            <span class="percent"></span>
                                                                        </div>
                                                                        <div>插件流量占比</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="box border">
                                                        <div class="box-title">访问渠道分析</div>
                                                        <div class="box-body">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <h6><i class="fa fa-desktop"></i> 桌面</h6>
                                                                    <div class="progress thin">
                                                                      <div class="progress-bar" style="width: 20%"
                                                                        th:style="${'width: '+statistics.channelRequest.desktopPercent+'%;'}"
                                                                        th:title="${statistics.channelRequest.desktopCount}"></div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h6><i class="fa fa-tablet"></i> 平板</h6>
                                                                    <div class="progress thin">
                                                                      <div class="progress-bar progress-bar-success" style="width: 30%"
                                                                      th:style="${'width: '+statistics.channelRequest.tabletPercent+'%;'}"
                                                                      th:title="${statistics.channelRequest.tabletCount}"></div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h6><i class="fa fa-mobile"></i> 移动设备</h6>
                                                                    <div class="progress thin">
                                                                      <div class="progress-bar progress-bar-pink" style="width: 40%"
                                                                      th:style="${'width: '+statistics.channelRequest.mobilePercent+'%;'}"
                                                                      th:title="${statistics.channelRequest.mobileCount}"></div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h6><i class="fa fa-circle-o"></i> 其他</h6>
                                                                    <div class="progress thin">
                                                                      <div class="progress-bar progress-bar-warning" style="width: 10%"
                                                                      th:style="${'width: '+statistics.channelRequest.otherPercent+'%;'}"
                                                                      th:title="${statistics.channelRequest.otherCount}"></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            <div class="box border">
                                                                <div class="box-title">
                                                                    <h4>
                                                                        <i class="fa fa-bar-chart"></i>
                                                                        <span class="hidden-inline-mobile">插件访问统计</span>
                                                                    </h4>
                                                                </div>
                                                                <div class="box-body">
                                                                    <div id="toolbar">
                                                                        <div class="btn-group" style="float: none;">
                                                                            <a href="#" th:href="@{~/admin/my_plugin_logs}">
                                                                                <button class="btn btn-default">
                                                                                    <i class="fa fa-history"></i> 访问日志
                                                                                </button>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <table id="dataTable"></table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" 
            data-main="../../static/scripts/my_account" th:data-main="@{~/scripts/my_account}"
            src="../../static/scripts/require.js" th:src="@{~/scripts/require.js}"></script>
</body>
</html>