<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>500</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}">
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
</head>
<body id="not-found-bg">
    <div class="overlay"></div>
    <section id="page">
        <div class="row">
            <div class="col-md-12">
                <div class="divide-100"></div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12 not-found">
                    <div class="error">500</div>
                </div>
                <div class="col-md-5 not-found">
                    <div class="content">
                        <h3>系统内部错误</h3>
                        <p>抱歉，系统似乎没能正常处理您的请求，我们将尽快修复这个问题，请您返回前一页面，稍后尝试刷新看看！</p>
                        <button type="button" class="btn btn-danger"
                            onclick="javascript:window.history.back();">
                            <i class="fa fa-chevron-left"></i> 返回
                        </button>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>