<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<title th:text="#{site.title.error}">系统错误</title>
<link rel="stylesheet" type="text/css" href="../../static/font-awesome/css/font-awesome.min.css"
    th:href="@{~/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/cloud-admin.css"
    th:href="@{~/css/cloud-admin.css}" />
</head>
<body>
    <div style="display: none;" th:text="${ errors }"></div>
    <section id="page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divide-100"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"></div>
                <div class="col-md-12 text-center">
                    <span style="font-size: 3em;"><i class="fa fa-warning"></i> Error</span>
                </div>
                <div class="col-md-4 col-md-offset-4 not-found text-center">
                    <div class="content">
                        <h3>抱歉，系统出错了</h3>
                        <p>请别担心，我们会尽快修复错误！</p>
                        <div class="btn-group">
                            <a href="javascript:window.history.back();" class="btn btn-primary">
                                <i class="fa fa-chevron-left"></i> 返回
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="../../static/js/jquery/jquery-2.0.3.min.js"
        th:src="@{~/js/jquery/jquery-2.0.3.min.js}"></script>
</body>
</html>