<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>登录</title>
<base href="../../static/" th:href="@{~/}" />
</head>
<body>
    <div>
        <form name="f" th:action="@{/home/login}" method="post">
            <fieldset>
                <legend>请登录</legend>
                <div th:if="${param.error}" class="alert alert-error">用户名或密码错误！</div>
                <div th:if="${param.logout}" class="alert alert-success">已成功注销，任何自动化登录都已失效。</div>
                <label for="username">用户名</label>
                <input type="text" id="username" name="username" />
                <label for="password">密码</label>
                <input type="password" id="password" name="password" />
                <div class="form-actions">
                    <button type="submit" class="btn">登录</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>