.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.mr-3 {
  margin-right: 30px !important;
}

.login-box-plain {
  margin: 30px auto;
  padding: 0px 60px 60px !important;
}

.truncate-tail.short {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-tail.middle {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-tail.long {
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-span {
  color: #b94a48;
}

#content .page-header {
  margin: 0 -15px 12px;
  min-height: 45px;
}

.chosen-choices {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  height: 34px !important;
  display: block;
  font-size: 14px;
}

.has-error .chosen-choices {
  border-color: #b94a48;
}

.popover-content {
  word-break: break-all;
}

.progress.thin {
  height: 9px !important;
}

.fa-2 {
  font-size: 1.5em;
}

.fa-android.colored {
  color: #AED05B;
}

.fa-apple.colored {
  color: #2897d1;
}

.fa-internet-explorer.colored {
  color: #2897d1;
}

#sidebar {
  border-bottom: none;
}

.sidebar-menu {
  height: 100%;
  border-right: 1px solid #cdd2d2;
}

.sidebar-footer {
  position: fixed;
  height: 40px;
  width: 250px;
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.mini-menu > .sidebar-menu > .sidebar-footer {
  width: 50px;
}

.sidebar-indicator {
  width: 50px;
  height: 100%;
}
.sidebar-indicator:HOVER {
  background: #E6E6E6;
  cursor: pointer;
}

.sidebar-indicator >i {
  margin-top: 13px;
  margin-right: 17px;
}

.navbar .navbar-brand img {
  left: 10px;
}

.sidebar-menu > ul {
  border-bottom: 1px solid #e7e7e7 !important;
  border-top: none !important;
}

.sidebar-menu > ul > li > a {
  border-bottom: none !important;
}

.sidebar-menu > ul > li.active > a {
  border-bottom: 1px solid #ffffff !important;
  border-top: 1px solid #ffffff !important;
}

.navbar .navbar-brand img {
  height: 40px !important;
  width: auto !important;
  top: 5px !important;
}